@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

.header-branding{
  .header-logo-menu{position: relative;
    .menu-freemarket-top-menu-container{position: absolute; top: 0; right: 0;
      ul#menu-freemarket-top-menu{
        li{float: left; list-style: none; list-style-type: none; margin-left: 2em;}
      }
    }
  }
}

.main-menu-wrapper{margin-top: 1em;
  .navbar{
    .nav .current-menu-item a{color: @navbarLinkColorActive; text-decoration: none; background-color: @navbarLinkBackgroundActive; -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.125); -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.125); box-shadow: inset 0 3px 8px rgba(0,0,0,.125);}
  }
  .navbar-inverse{
    .nav .current-menu-item a{color: @navbarInverseLinkColorActive; background-color: @navbarInverseLinkBackgroundActive;}
  }
}

#sidebar{
  ul{margin: 0;
    li{list-style: none; list-style-type: none;
      ul{margin-left: 1.5em;}
    }
  }
}

#main{
  &.left{float: right;}
  &.right{float: left;}
}

#product_list{
  .product{margin-bottom: 10px; text-align: center;
    &.first{margin-left: 0;}
    &.last{clear: right;}
    .product_name{
      a{color: @grayDark;}
    }
  }
}

ul.subcategories{margin: 0; clear: both;
  li{list-style: none; list-style-type: none; margin: 0 3px 5px 0; float: left; 
    ul{display: none;}
    a{.label; .label-inverse; font-weight: normal; text-decoration: none; background: @grayDark}
    li.cat-item{display: inline-block;}
    li.current-cat{
      a{background: @grayLight}
    }
  }
}

.mp_button_addcart, .mp_button_buynow, .mp_link_addcart, .mp_link_buynow{.btn;}
